/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//db.onlinewebfonts.com/c/a533e6fa2fb2d762dab84b03684d49f3?family=Louize+Display+trial);

/* can now reference my font */
body {
  
  /* padding: -1rem; */
  /* margin: -1rem; */
}

.banner-text1{
    font-family: Louize Display Trial;
}

.sb-show-main.sb-main-padded{
    padding: 0;
}